.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size:medium;
  
      .sign-but{
        background-color: aliceblue;
        color: black;
        padding: 10px;
        border-radius: 10px;

        &:hover{
          background-color: black;
          color: aliceblue;
          
        }
      }

      .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 8px;
        width: 40%;
        height: 40%;
  
        img {
          width: 10px;
          height: 10px;
        }
      }
    }

    
  
    main {
      flex: 1;
      overflow: hidden;
    }
  }